.question-body .lb-content {
    text-transform: none;
}

.question-body .lb-content span {
    font-size: unset;
    text-transform: none;
}

.question-answer-sikap-kerja table {
    max-width: 300px;
}

.question-answer-sikap-kerja input[type="radio"] + label span.fa-stack {
    margin: 0px;
}

.question-answer-sikap-kerja input[type="radio"] + label .radio-button {
    width: 50px;
    height: 50px;
    border-radius: unset;
}

.question-answer-sikap-kerja input[type="radio"] + label .active {
    width: 50px;
    height: 50px;
    line-height: 47px;
    font-size: 18px;
    font-family: 'OpenSans Regular';
    display: block;
    border-radius: unset;
}

.question-answer-sikap-kerja input[type="radio"] + label:hover .active {
    color: black;
}

.question-answer-sikap-kerja input[type="radio"]:checked + label .active {
    color: white;
}

/* upload */
.upload-box {
    background-color: rgba(1, 1, 1, 0.07);
    padding: 30px;
    position: relative;
    text-align: center;
    min-height: 150px;
    border: rgb(1, 49, 68);
    border-style: dashed;
    border-width: 4px;
}

.upload-box :hover {
    transition: 0.5s all;
    background-color: rgba(1, 1, 1, 0.6);
}

.upload-box:hover .upload-title {
    display: none;
}
.upload-box .upload-title-hover {
    display: none;
}
.upload-box:hover .upload-title-hover {
    display: block;
}
.upload-box .upload-detail {
    display: none;
}
.upload-box .upload-file-selected .upload-title, 
.upload-box .upload-file-selected .upload-title-hover {
    display: none;
}
.upload-box .upload-file-selected .upload-detail {
    display: block;
}

.upload-box .upload-content {
    min-height: 90px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box .upload-input {
    z-index: 99;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.sikap-kerja-pane .question-body > label {
    width: 100%;
}
.sikap-kerja-pane table {
    margin-left: auto;
    margin-right: auto;
}